@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

.tamil {
  font-family: "Noto Sans Tamil", ui-sans-serif, system-ui, sans-serif;
  font-feature-settings: "kern", "liga";
}
